// 左侧的菜单的宽度
$base-menu-width: 260px;

// 左侧菜单折叠后的宽度
$base-menu-width-collapse: 64px;

// 左侧菜单的背景颜色
$base-menu-background: #001529;

// 顶部导航的高度
$base-tabbar-height: 50px;

// 左侧菜单logo高度设置
$base-menu-logo-height: 50px;

// 左侧菜单logo右侧文字大小
$base-logo-title-font-size: 16px;

// 移动端断点
$mobile-breakpoint: 768px;

@mixin mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}
